.md-grid {
    max-width: 75%;
}

img {
    height: auto;
    width: auto;
    border: none;
    border-radius: 10px;
    transition: transform ease-in-out 0.3s;
}
img:hover {
    transform: scale(1.05); /* Slightly enlarges on hover */
}

.video-wrapper iframe {
    width: 480px; /* Ratio 16:9 */
    height: 270px; /* Ratio 16:9 */
    border-radius: 10px; /* Rounded Corners */
}