<!DOCTYPE html><html><head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" href="styles/style.css" media="screen" rel="stylesheet" title="CSS">
    <script type="text/javascript" src="scripts/common-0.0.1.js"></script>
    <title>MeshCentral - Terms of use</title>
</head>
<body id="body" onload="if (typeof(startup) !== 'undefined') startup();" style="display:none;overflow:hidden">
    <div id="container">
        <!-- Begin Masthead -->
        <div id="masthead" class="noselect" style="background:url(logo.png) 0px 0px;background-color:#036;background-repeat:no-repeat;height:66px;width:100%;overflow:hidden;">
            <div style="float:left; height: 66px; color:#c8c8c8; padding-left:20px; padding-top:8px">
                <strong><font style="font-size:46px; font-family: Arial, Helvetica, sans-serif;">{{{title}}}</font></strong>
            </div>
            <div style="float:left; height: 66px; color:#c8c8c8; padding-left:5px; padding-top:14px">
                <strong><font style="font-size:14px; font-family: Arial, Helvetica, sans-serif;">{{{title2}}}</font></strong>
            </div>
            <p id="logoutControl" style="color:white;font-size:11px;margin: 10px 10px 0;"></p>
        </div>
        <div id="page_leftbar">
            <div style="height:16px"></div>
        </div>
        <div id="topbar" class="noselect style3" style="height:24px;position:relative">
            <div id="uiMenuButton" title="ユーザーインターフェイスの選択" onclick="showUserInterfaceSelectMenu()">
                ♦
                <div id="uiMenu" style="display:none">
                    <div id="uiViewButton1" class="uiSelector" onclick="userInterfaceSelectMenu(1)" title="左バーインターフェイス"><div class="uiSelector1"></div></div>
                    <div id="uiViewButton2" class="uiSelector" onclick="userInterfaceSelectMenu(2)" title="トップバーインターフェース"><div class="uiSelector2"></div></div>
                    <div id="uiViewButton3" class="uiSelector" onclick="userInterfaceSelectMenu(3)" title="固定幅インターフェイス"><div class="uiSelector3"></div></div>
                    <div id="uiViewButton4" class="uiSelector" onclick="toggleNightMode()" title="ナイトモードを切り替える"><div class="uiSelector4"></div></div>
                </div>
            </div>
        </div>
        <div id="column_l" style="max-height:calc(100vh - 135px);overflow-y:auto">
            <h1>利用規約</h1>
            <p>利用規約については、サイト管理者にお問い合わせください。</p>
            <hr>
            <p class="MsoNormal">
                以下は、このソフトウェアに組み込まれているオープンソースコンポーネントとソフトウェアの必須の開示です。
            </p>
            <p class="MsoNormal">
                <b><span>1.AJAX Control Toolkit-新しいBSDライセンス</span></b><span style="font-size:10.0pt;font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>Copyright（c）2009、CodePlex Foundation。全著作権所有。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>ソースおよびバイナリ形式での再配布および使用は、変更の有無にかかわらず、次の条件が満たされている場合に許可されます。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>1.ソースコードの再配布には、上記の著作権表示、この条件リスト、および以下の免責事項を保持する必要があります。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>2.バイナリ形式での再配布では、上記の著作権表示、この条件リスト、および以下の免責事項を、配布物とともに提供されるドキュメントおよび/またはその他の資料に複製する必要があります。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>3. CodePlex Foundationの名前もその貢献者の名前も、書面による事前の許可なしに、このソフトウェアから派生した製品を推奨または宣伝するために使用することはできません。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>このソフトウェアは、著作権者および寄稿者によって「現状のまま」提供され、商品性および特定の目的への適合性の黙示的な保証を含むがこれに限定されない明示的または黙示的な保証は放棄されます。いかなる場合においても、著作権所有者または貢献者は、直接的、間接的、偶発的、特別、例示的、または結果的な損害（代替品またはサービスの調達、代替品、データ、または利益の損失を含むが、これらに限定されない）について責任を負わないものとしますまたはビジネス中断）責任の理論、または契約、厳格な責任、または不法行為（過失またはその他を含む）にかかわらず、このソフトウェアの使用から生じたものであっても、POSSIの可能性がある場合でも。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <b><span>2.OpenSSL – OpenSSLおよびSSLeayライセンス</span></b><span style="font-size:10.0pt;font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span><a href="http://www.openssl.org/source/license.html">http://www.openssl.org/source/license.html</a> </span>
            </p>
            <p class="MsoNormal">
                <span>Copyright（c）1998-2011 The OpenSSL Project。全著作権所有。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>ソースおよびバイナリ形式での再配布および使用は、変更の有無にかかわらず、次の条件が満たされている場合に許可されます。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>1.ソースコードの再配布には、上記の著作権表示、この条件リスト、および以下の免責事項を保持する必要があります。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>2.バイナリ形式での再配布では、上記の著作権表示、この条件リスト、および以下の免責事項を、配布物とともに提供されるドキュメントおよび/またはその他の資料に複製する必要があります。 <o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>3.このソフトウェアの機能または使用について言及するすべての広告資料には、「この製品には、OpenSSL Toolkitで使用するためにOpenSSL Projectによって開発されたソフトウェアが含まれます。（http://www.openssl.org/）」 <o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>4.「OpenSSL Toolkit」および「OpenSSL Project」という名前は、事前の書面による許可なしに、このソフトウェアから派生した製品を推奨または宣伝するために使用しないでください。書面による許可については、openssl-core @ openssl.orgにお問い合わせください。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>5.このソフトウェアから派生した製品は、OpenSSL Projectの事前の書面による許可なしに、「OpenSSL」と呼ばれたり、名前に「OpenSSL」が表示されたりすることはありません。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>6.いかなる形式の再配布でも、「この製品には、OpenSSL Toolkit（http://www.openssl.org/）で使用するためにOpenSSL Projectによって開発されたソフトウェアが含まれます」という承認を保持する必要があります。 <o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>このソフトウェアは、OpenSSLプロジェクトによって「現状のまま」提供され、商品性および特定の目的への適合性の黙示的な保証を含むがこれに限定されない、明示的または黙示的な保証は放棄されます。いかなる場合も、OpenSSLプロジェクトまたはその貢献者は、直接的、間接的、偶発的、特別、例示的、または結果的損害（責任を含むが、特別損害、例示的損害、または結果的損害を含む）の責任を負いませんまたはサービス、使用、データ、または利益の損失、またはビジネス中断）、契約、厳格な責任、または不法行為（過失またはその他を含む）このような損害の可能性について通知された場合でも、ソフトウェア。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <b><span>3. jQuery Foundation-MITライセンス</span></b><span style="font-size:10.0pt;font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>Copyright 2013 jQuery Foundationおよびその他の貢献者 <a href="http://jquery.com/">http://jquery.com/</a></span>
            </p>
            <p class="MsoNormal">
                <span>本ソフトウェアは、商品性、特定の目的への適合性、および非侵害の保証を含むが、これに限らず、明示または黙示を問わず、いかなる保証もなしに「現状のまま」提供されます。いかなる場合でも、作者または著作権者は、契約、不法行為、またはその他の行為、ソフトウェアまたは使用またはその他の取引に起因する、または関連するいかなる請求、損害またはその他の責任についても責任を負わないものとしますソフトウェア。</span>
            </p>
            <p class="MsoNormal">
                <b><span>4. jQueryユーザーインターフェイス-MITライセンス</span></b><span style="font-size:10.0pt;font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>Copyright 2013 jQuery Foundationおよびその他の貢献者、 <a href="http://jqueryui.com/">http://jqueryui.com/</a></span>
            </p>
            <p class="MsoNormal">
                <span>このソフトウェアは、多くの個人による自発的な貢献で構成されています（AUTHORS.txt、http：//jqueryui.com/about）。正確な貢献履歴については、http：//jquery-ui.googlecode.com/svn/にある改訂履歴とログをご覧ください <o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>本ソフトウェアは、商品性、特定の目的への適合性、および非侵害の保証を含むが、これに限らず、明示または黙示を問わず、いかなる保証もなしに「現状のまま」提供されます。いかなる場合でも、作者または著作権者は、契約、不法行為、またはその他の行為、ソフトウェアまたは使用またはその他の取引に起因する、または関連するいかなる請求、損害またはその他の責任についても責任を負わないものとしますソフトウェア。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <b><span>5. noVNC-Mozilla Public License 2.0</span></b><span style="font-size:10.0pt;font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span><a href="https://github.com/kanaka/noVNC/blob/master/LICENSE.txt">https://github.com/kanaka/noVNC/blob/master/LICENSE.txt</a></span>
            </p>
            <p class="MsoNormal">
                <span>Copyright（C）2011 Joel Martinこのソースコードフォームには、Mozilla Public License v。2.0の条件が適用されます。 MPLのコピーがこのファイルとともに配布されていない場合は、http：//mozilla.org/MPL/2.0/から入手できます。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <b><span>6.Rcarousel-MITライセンス</span></b><span style="font-size:10.0pt;font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span><a href="https://github.com/ryrych/rcarousel/blob/master/widget/license">https://github.com/ryrych/rcarousel/blob/master/widget/license</a></span>
            </p>
            <p class="MsoNormal">
                <span>Copyright（c）2010 Wojciech 'RRH' Ryrych<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>本ソフトウェアは、商品性、特定の目的への適合性、および非侵害の保証を含むが、これに限らず、明示または黙示を問わず、いかなる保証もなしに「現状のまま」提供されます。いかなる場合でも、作者または著作権者は、契約、不法行為、またはその他の行為、ソフトウェアまたは使用またはその他の取引に起因する、または関連するいかなる請求、損害またはその他の責任についても責任を負わないものとしますソフトウェア。<o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <b><span>7.Webtoolkit Javascript Base 64 – Creative Commons Attribution 2.0 UKライセンス</span></b><span><o:p></o:p></span>
            </p>
            <p class="MsoNormal">
                <span>このソフトウェアはからのコードを使用します <a href="http://www.webtoolkit.info/javascript-base64.html">http://www.webtoolkit.info/javascript-base64.html</a> の下でライセンス <a href="http://creativecommons.org/licenses/by/2.0/uk/legalcode">http://creativecommons.org/licenses/by/2.0/uk/legalcode</a> そのソースはからダウンロードできます <a href="http://www.webtoolkit.info/javascript-base64.html">http://www.webtoolkit.info/javascript-base64.html</a>。<o:p></o:p></span>
            </p>
            <br>
        </div>
        <div id="footer">
            <table cellpadding="0" cellspacing="10" style="width: 100%">
                <tbody><tr>
                    <td style="text-align:left"></td>
                    <td style="text-align:right"><a href="/">バック</a></td>
                </tr>
            </tbody></table>
        </div>
    </div>
    <script>
        'use strict';
        var uiMode = parseInt(getstore('uiMode', 1));
        var webPageStackMenu = false;
        var webPageFullScreen = true;
        var nightMode = (getstore('_nightMode', '0') == '1');
        var logoutControls = {{{logoutControls}}};

        var terms = '{{{terms}}}';
        if (terms != '') { QH('column_l', decodeURIComponent(terms)); }
        QV('column_l', true);
        userInterfaceSelectMenu();

        // Setup logout control
        var logoutControl = '';
        if (logoutControls.name != null) { logoutControl = format("{0}へようこそ。", logoutControls.name); }
        if (logoutControls.logoutUrl != null) { logoutControl += format(' <a href=\"' + logoutControls.logoutUrl + '\" style="color:white">' + "ログアウト" + '</a>'); }
        QH('logoutControl', logoutControl);

        // Toggle user interface menu
        function showUserInterfaceSelectMenu() {
            Q('uiViewButton1').classList.remove('uiSelectorSel');
            Q('uiViewButton2').classList.remove('uiSelectorSel');
            Q('uiViewButton3').classList.remove('uiSelectorSel');
            Q('uiViewButton4').classList.remove('uiSelectorSel');
            try { Q('uiViewButton' + uiMode).classList.add('uiSelectorSel'); } catch (ex) { }
            QV('uiMenu', (QS('uiMenu').display == 'none'));
            if (nightMode) { Q('uiViewButton4').classList.add('uiSelectorSel'); }
        }

        function userInterfaceSelectMenu(s) {
            if (s) { uiMode = s; putstore('uiMode', uiMode); }
            webPageFullScreen = (uiMode < 3);
            webPageStackMenu = true;//(uiMode > 1);
            toggleFullScreen(0);
            toggleStackMenu(0);
            QC('column_l').add('room4submenu');
        }

        function toggleNightMode() {
            nightMode = !nightMode;
            if (nightMode) { QC('body').add('night'); } else { QC('body').remove('night'); }
            putstore('_nightMode', nightMode ? '1' : '0');
        }

        // Toggle the web page to full screen
        function toggleFullScreen(toggle) {
            if (toggle === 1) { webPageFullScreen = !webPageFullScreen; putstore('webPageFullScreen', webPageFullScreen); }
            var hide = 0;
            //if (args.hide) { hide = parseInt(args.hide); }
            if (webPageFullScreen == false) {
                QC('body').remove('menu_stack');
                QC('body').remove('fullscreen');
                QC('body').remove('arg_hide');
                //if (xxcurrentView >= 10) QC('column_l').add('room4submenu');
                //QV('UserDummyMenuSpan', false);
                //QV('page_leftbar', false);
            } else {
                QC('body').add('fullscreen');
                if (hide & 16) QC('body').add('arg_hide'); // This is replacement for QV('page_leftbar', !(hide & 16));
                //QV('UserDummyMenuSpan', (xxcurrentView < 10) && webPageFullScreen);
                //QV('page_leftbar', true);
            }
            QV('body', true);
        }

        // If FullScreen, toggle menu to be horisontal or vertical
        function toggleStackMenu(toggle) {
            if (webPageFullScreen == true) {
                if (toggle === 1) {
                    webPageStackMenu = !webPageStackMenu;
                    putstore('webPageStackMenu', webPageStackMenu);
                }
                if (webPageStackMenu == false) {
                    QC('body').remove('menu_stack');
                } else {
                    QC('body').add('menu_stack');
                    //if (xxcurrentView >= 10) QC('column_l').remove('room4submenu');
                }
            }
        }

        function putstore(name, val) { try { if (typeof (localStorage) === 'undefined') return; localStorage.setItem(name, val); } catch (e) { } }
        function getstore(name, val) { try { if (typeof (localStorage) === 'undefined') return val; var v = localStorage.getItem(name); if ((v == null) || (v == null)) return val; return v; } catch (e) { return val; } }
        function format(format) { var args = Array.prototype.slice.call(arguments, 1); return format.replace(/{(\d+)}/g, function (match, number) { return typeof args[number] != 'undefined' ? args[number] : match; }); };

    </script>


</body></html>