/* Shared styles for all custom icons */
.custom-icon svg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1em !important;
    height: 1em !important;
    display: inline-block !important;
}

.custom-icon svg path {
    display: none !important;
}