.topButton {
    cursor: pointer;
    border: none;
    margin: 2px;
    margin-top: 3px;
    border-radius: 3px;
    height: 32px;
    width: 32px;
    float: right;
}

    .topButton:hover {
        background-color: lightgray;
    }

.topRedButton {
    cursor: pointer;
    border: none;
    margin: 2px;
    float: right;
    border-radius: 3px;
    height: 32px;
    width: 32px;
}

    .topRedButton:hover {
        background-color: orangered;
    }

.remoteBubble {
    background-color: #00cc99;
    color: black;
    border-radius: 5px;
    padding: 5px;
    float: left;
    margin-bottom: 5px;
    margin-right: 20px;
    box-shadow:3px 3px 10px gray;
}

.localBubble {
    background-color: #44BBFF;
    color: black;
    border-radius: 5px;
    padding: 5px;
    float: right;
    margin-bottom: 5px;
    margin-left: 20px;
    box-shadow:3px 3px 10px gray;
}

.icon1 {
    background: url(../images/messenger32.png) 0px 0px;
    background-color: gray;
}

.icon2 {
    background: url(../images/messenger32.png) -32px 0px;
    background-color: gray;
}

.icon3 {
    background: url(../images/messenger32.png) -64px 0px;
    background-color: gray;
}

.icon4 {
    background: url(../images/messenger32.png) -96px 0px;
    background-color: gray;
}

.icon5 {
    background: url(../images/messenger32.png) -128px 0px;
    background-color: gray;
}

.icon6 {
    background: url(../images/messenger32.png) -160px 0px;
    background-color: gray;
}

.icon7 {
    background: url(../images/messenger32.png) -192px 0px;
    background-color: gray;
}

.icon8 {
    background: url(../images/messenger32.png) -224px 0px;
    background-color: gray;
}

.icon9 {
    background: url(images/messenger32.png) -256px 0px;
    background-color: gray;
}

.icon10 {
    background: url(../images/messenger32.png) -288px 0px;
    background-color: gray;
}

.icon11 {
    background: url(../images/messenger32.png) -320px 0px;
    background-color: orange;
}

.icon12 {
    background: url(../images/messenger32.png) -352px 0px;
    background-color: gray;
}

.icon13 {
    background: url(../images/messenger32.png) -384px 0px;
    background-color: gray;
}

.icon14 {
    background: url(../images/messenger32.png) -416px 0px;
    background-color: gray;
}

.icon15 {
    background: url(../images/messenger32.png) -448px 0px;
    background-color: gray;
}

.fileicon {
    background: url(../images/messenger32.png) -96px 0px;
    height: 32px;
    width: 32px;
}

.fileiconx {
    background: url(../images/messenger32.png) -352px 0px;
    height: 32px;
    width: 32px;
}

.fileicontransfer {
    background: url(../images/messenger32.png) -288px 0px;
    height: 32px;
    width: 32px;
}

.fileicondone {
    background: url(../images/messenger32.png) -256px 0px;
    height: 32px;
    width: 32px;
}